@import "admin-navbar.css";
.button__background {
  background-color: #f7fafc;
  border-color: #f7fafc;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#robot_nav2d {
  width: 100%;
  height: 45rem;
  overflow-x: auto;
  overflow-y: hidden;
  /* display: flex;
  justify-content: center; */
}

.AuthNavbar {
  z-index: 1000;
}

.pera-wallet-sign-txn-toast {
  z-index: 999 !important;
  top: 10% !important;
  right: 10% !important;
  position: absolute !important;
}
